<a href="https://colab.research.google.com/github/bubbapora/ASA_2025/blob/main/ASA_exploring.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('Consumer_Airfare_Report__Table_2_-_Top_1_000_City-Pair_Markets.csv')

In [ ]:
df.head()

,tbl,Year,quarter,citymarketid,city,markets,cur_passengers,cur_fare,cur_yield,distance,ly_passengers,ly_fare,ly_yield,ly_distance,Geocoded_City,tbl2pk
0,Table 2,2021,4,34576,"Rochester, NY",7,170560,162.92,25.13,648.2,42450.0,150.54,19.47,773.4,NaN,2021434576
1,Table 2,2021,4,33495,"New Orleans, LA",30,1571520,186.78,18.88,989.5,656740.0,150.32,14.74,1019.7,NaN,2021433495
2,Table 2,2021,4,32337,"Indianapolis, IN",25,1246520,206.51,19.79,1043.7,570540.0,164.68,15.26,1079.1,NaN,2021432337
3,Table 2,2021,4,33214,"San Antonio, TX",30,1219290,207.84,18.36,1131.7,530200.0,185.53,16.06,1155.0,NaN,2021433214
4,Table 2,2021,4,32600,"Little Rock, AR",7,126870,191.80,23.06,831.6,68150.0,166.98,18.49,902.9,NaN,2021432600